
.avatar {
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.center {
  text-align: center;
}

.col2 {
  display:inline-block;
  width: 50%;
  padding: 1em;
}

.width100 {
  width: 100%;
}

.white-box{
  padding: 2em;
  border: 0px;
  background-color: white;
  margin: 0 auto;
}

.wrapper.style4 {
  background: #A8B6B9;
}

.wrapper.style5 {
  background: #F3F3F3;
}

.wrapper.style6 {
  background: #E1ECF3;
}

.baltic {
  color: #353C45 !important;
}

.storm {
  background: #7B7D84;
}

.white-smoke{
  color: #F3F3F3 !important;
}

.white-bg{
  background-color: white !important;
}

.icono{
  height: 1.5em;
  vertical-align: middle;
  border: 0px;
}

.logo{
  height: 4.5em;
  vertical-align: middle;
  border: 0px;
}

.nav-opac{
  opacity: 0.75;
  text-align: center;
}

.full-height{
  max-height: 100%;
  max-width: 100%;
}

.pad2{
  padding: 1em 0em 20em !important;
}

.logo-x{
  width: 80%;
}
